.component {
    cursor: pointer;
}
.component:hover{
    background-color: #eeeeee;
}
.component:active{
    background-color: #e0e0e0;
}
.add-component {
    cursor: pointer;
    color: #279AF1;
}
.add-component:hover{
    background-color: #eeeeee;
}
.add-component:active{
    background-color: #e0e0e0;
}

.delete-framework {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    cursor:pointer;
}
.delete-framework:hover{
    color: red;
}
.delete-framework:active{
    color: red;
}

body {
    overflow: hidden; /* Hide scrollbars */
  }

li.active {
    background-color: #279AF1 !important;
}

.mybutton:hover {
    background-color: white !important;
    color: #279AF1 !important;
}

.mybutton:active {
    background-color: #AAAAAA !important;
    color: #279AF1 !important;
}

.delbutton:hover {
    background-color: white !important;
    color: red !important;
}

.delbutton:active {
    background-color: #AAAAAA !important;
    color: red !important;
}
.delbutton {
    background-color: #131112;
}

.savebutton:hover {
    background-color: white !important;
    color: #279AF1 !important;
}

.savebutton:active {
    background-color: #AAAAAA !important;
    color: #279AF1 !important;
}
.savebutton {
    background-color: #131112;
}

.clicked {
    border: 2px;
    border-color: black;
}

.mybutton {
    background-color: #131112;
}

.myheader {
    background-color: #279AF1;
}

.myfooter {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

.consolediv {
    background-color: #279AF1;
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    bottom: 10vh;
    width: 100%;
    height: 10vh;
}

.console {
    height: 60%;
    width: 96% !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 2vw !important;
    margin-right: 2vw !important;
    margin-top: 2vh !important;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    border-color: #131112;
    background-color: #F7F7FF;
    overflow-y: auto;
    text-align: left;
}

.text {
    font-size: 2.5vh;
    color: black;
    margin: 0;
}
.buckle {
    padding-left: 10px;
    color: #279AF1;
    margin: 0;
}

.arrow {
    color: #279AF1;
    margin: 0;
}

.myinput {
    color: white;
    font-size: 4vh !important;
}